<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body style="background-color: gray;">
    <h1 style="color: white;">Página de contato</h1>
    <p style="color: white;"><strong>Empresa: </strong> {{ nome }} </p>
    <p style="color: white;"><strong>Telefone: </strong> {{ fone }} </p>
    <p style="color: white;"><strong>E-mail: </strong> {{ email }} </p>
    <h2>
        <a href="/" style="color: red; text-decoration: none;">Voltar</a>
    </h2>
</body>
</html>