{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evento.nome }} - CanesGril</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="card">
        <header>
            <h1>{{ evento.nome }}</h1>
            <p><strong>Data:</strong> {{ evento.data|date:"d/m/Y" }} | <strong>Local:</strong> {{ evento.local }}</p>
        </header>

        <main>
            <h2>Itens do Churrasco</h2>
            
            {% for item in evento.itens.all %}
                <div class="info-item">
                    <h3>{{ item.nome }}</h3>
                    <p>QTD: {{ item.quantidade }} </p>
                    <p>Peso por Unidade: {{ item.unidade }} </p>
                    <p>Tipo: ({{ item.get_tipo_display }})</p>

                    <div class="item-actions">
                        <a href="{% url 'item_editar' item.id %}" class="edit-link">Editar</a>
                        <a href="{% url 'item_excluir' item.id %}" class="delete-link">Excluir</a>
                    </div>
                </div>
            {% empty %}
                <div class="info-item">
                    <p>Nenhum item cadastrado para este evento.</p>
                </div>
            {% endfor %}
            <hr style="margin: 30px 0;"> <h2>Adicionar Novo Item</h2>
            <form method="post" class="item-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit">Adicionar Item</button>
            </form>
        </main>

        <footer>
            <a href="{% url 'index' %}" class="back-button">Voltar para a lista</a>
        </footer>
    </div>

</body>
</html>