{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo|default:'Novo Churrasco' }} - CanesGril</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="card">
        <header>
            <h1>{{ titulo|default:'Planejar Novo Churrasco' }}</h1>
            <br>
        </header>

        <main>
            <form method="post">
                {% csrf_token %}
        
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="errorlist">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit">Salvar</button>
            </form>
        </main>
        
        <footer>
            <a href="{% url 'index' %}" class="back-button">Cancelar</a>
        </footer>
    </div>

</body>
</html>