{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CanesGril</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="card">
        <header>
            <h1>Entrar</h1>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit">Entrar</button>
            </form>
        </main>
        <footer>
            <a href="{% url 'index' %}" class="back-button">Voltar</a>
        </footer>
    </div>
</body>
</html>