{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding: 80px 0;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="contact-form">
                <h2 class="text-center mb-4">Crie sua Conta</h2>
                <form action="{% url 'cadastro' %}" method="post" novalidate>
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            
                            {{ field }}

                            {% if field.errors %}
                                <div class="alert alert-danger p-1 mt-1">
                                    {% for error in field.errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn delicious-btn mt-30">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}