{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding: 80px 0;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="contact-form">
                <h2 class="text-center mb-4">Acessar sua Conta</h2>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn delicious-btn mt-30">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}